*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
    font-family:Century;
    font-family: sans-serif;
}
body{
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}
.main{
    
    margin:auto;
    
    }


ul{
    float:right;
    list-style-type: none;
    margin-top: 0px;
    position: fixed;
    background: #777;
    height: 60px;
    width:100%;
    margin-left: 0%;
    padding: 3px;
    
}
ul li{
    display :inline-block;
    margin: 5px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border:1px solid transparent;
    transition: 0.8s ease;
}
ul li a:hover{
   background-color: #fff;
   color:black;
}

.form-box{
   top: 0;
   width: 400px;
   height: 500px;
   position: fixed;
   margin-top: 20%;
   margin-left: 80%;
   background: rgb(216, 209, 246);
   padding: 5px;
   overflow: hidden;
   transform: translate(-50%,-50%) scale(0.01);
   visibility: hidden;
   transition: transform 0.3s,top 0.3s;
   border-radius: 30px;
}
.open-popup{
    visibility: visible;
    top: 10%;
    margin-left: 75%;
    transform: translate(-50%,-50%) scale(1);
}


.button-box{
    width: 220px;
    margin-top: 35px;
    margin-left: 21%;
    box-shadow: 0 0 20px 9px  rgb(242, 183, 73);
    border-radius: 30px;
 
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position :relative;
}
#btn1{
    top:0;
    left:0;
    margin-top: 38.5px;
    margin-left: 19%;
    position: absolute;
    width: 122px;
    height: 7.5%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s;
} 
.sicon img{
  width: 30px;
  margin-top: 5%;
  margin-left:18%;
  box-shadow: 0 0 20px #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;
}
.igroup{
    top:180px;
    position: absolute;
    width: 280px;
    margin-left: 50px;
    transform: 0.5s;
}
.input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submitbtn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f,#ffad06);  
  border: 0;
  outline: none;
  border-radius:30px ;
}
.checkbox{
    margin: 20px 5px 30px 0;
}
span{
    color:#777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.submitbtn1{
   cursor: pointer;
   display: block;
   height: 30px ;
   width: 120px;
   background: rgb(122, 249, 79) ;
   margin-top: 8%;
   padding: 5px 10px 5px 10px;
   color: #fff;
   border-radius: 30px;
}
.exit{
    margin-top: 80%;
    margin-bottom: 0;
    margin-left: 45%;
}
.sub2{
    border-radius: 5px;
    background: rgb(255, 51, 0);
    padding: 3px 2px;
    cursor: pointer;
}
.side-nav{
    width: 185px;
    height: 100%;
    background:#777;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    visibility: hidden;
   
    
}
.logo1{

    display: block;
    top: 10%;
}
.logo1img{
  width: 126px;
  height: 78px; 
  margin-left: 0.8%;
  margin-top: 2%;
  margin-right: 8%;
  }
.navlink{
    float:right;
 
     list-style-type: none;
     display: inline;
     position: relative;
}
.navlink li{
 
    padding: 10px 10px;
}
.navlink li a{
    color: #fff;
    text-decoration: none;
    padding:10px 15px ;
}
.sub1{
    margin-right: 600px;
    cursor: pointer;
    display: block;
    height: 20px ;
    width: 100px;
    background: linear-gradient(to right, #3ff955,#edfa33); 
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    border-radius: 30px;
    border: 0;
    outline: none;
    

}
.naive23{
    visibility: visible;
    transform: translate(0%,0%) scale(1);
}
.naive4{
    width: 120px;
    background: linear-gradient(to right, #3ff955,#edfa33);  
    border-radius: 30px; 
    border: 0;
    outline: none;
    padding: 5px 10px;
    margin-right: 40px;
}


@media only screen and (max-width: 600px){
   
    .side-nav{
        width: 250px;
     }
     .logo1img{
        display: none;
     }

}






.team{
	position: relative;
	width: 100%;
	height: 100vh;
	background: radial-gradient(#ffffff,#c8a4fb);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}








@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}







#about-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
}
.about-left img{
    width: 420px;
    height: auto;
    transform: translateY(50px);
}
.about-right {
    width: 54%;
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: #e74d06;
    font-size: 37px;
    margin-bottom: 5px;
}

.about-right p {
    color: #444;
    line-height: 26px;
    font-size: 15px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: #e74d06;
}

.address .saprater {
    margin: 0 35px;
}

.about-right .expertise ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expertise h3 {
    margin-bottom: 10px;
}

.expertise .expertise-logo {
    font-size: 19px;
    margin-right: 10px;
    color: #e74d06;
}

